@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

$font-family: 'Red Hat Display', sans-serif;

$pale-blue: hsl(225, 100%, 94%);
$bright-blue: #382AE1;
$v-pale-blue: hsl(225, 100%, 98%);
$desaturated-blue: #717FA6;
$dark-blue: hsl(223, 47%, 23%);
$light-purple: #766CF1;
$light-gray: hsla(223, 23%, 55%, 1);
$lightest-gray: hsla(228, 100%, 99%, 1);



$white: #FFFFFF;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    background-image: url('../images/pattern-background-desktop.svg');
    background-repeat:no-repeat;
    background-size: contain;
    // background-position: center center;
    // position: relative;
    // width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font-family;
    
    // @media (min-width: 376px) {
    //     background-image: url('../images/pattern-background-mobile.svg');
    //     background-size: contain;
    // }
    @media only screen and (max-width: 375px) {
        max-width: 327px;
        justify-content: center;
    }

}

// img {
//     display: block; 
// }

p {
   font-size: 1rem;
   color: $desaturated-blue; 
}

h1 {
    margin-bottom: 1.5rem;
}

h2 {
  font-size: 1.3rem;
  margin-bottom: 6px;
   
}

// .cancel-cta {
//     margin-bottom: 50px;
//     a {
//         text-decoration: none;
//         color: $desaturated-blue; 

//         &:hover {
//             color:black;
//         }
//     }
// }
a:hover, a:active {
    cursor: pointer
}


.change-cta {
    color: $bright-blue;
    text-decoration: underline; 

    &:hover, &:active {
        color: $light-purple;
        text-decoration: none;
    }
}

.cancel-cta {
    color: $desaturated-blue;

    &:hover, &:active {
        color: black;
    }
}

.payment-cta {
    border-radius: 11px;
    background: $bright-blue;
    box-shadow: 0px 20px 20px rgba(56, 42, 225, 0.190291);
    // width: 100%;
    display: block;
    padding: 15px 102px;
    color: $white;

    &:hover, &:active {
        background: $light-purple
    }
}

.cancel-cta {
    display: block;
    margin-top: 40px;
}



// button {
//     border-radius: 11px;
//     background: $bright-blue;
//     box-shadow: 0px 20px 20px rgba(56, 42, 225, 0.190291);
//     width: 354px;
//     height: 50px;
//     align-items: center;
//     border-width: 0;
//     margin-bottom: 35px;

//     &:hover {
//         background: $light-purple;
//         cursor: pointer;
//     }
    

//     p {
//         color: $white;
//         font-weight: 900;
//     }
// }

.flex {
    display: flex;
    align-items: center;
}

.card {
    background: $white;
    box-shadow: 0px 40px 40px -20px rgba(13, 48, 189, 0.151826);
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    margin: auto;
    // max-width: 60vw;
    max-width: 450px;
    // max-height: 80vh;

    
    
}

.card-content {
    padding: 48px;
}

.card-hero {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hero-text {
    margin-bottom: 1rem;
    line-height: 26px;
    font-weight: 500;
}

.plan-card {
    background: $lightest-gray;
    border-radius: 11px;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    margin: auto;
    // width: 354px;
    width: 100%;
    // margin-top: 20px;
    margin-bottom: 32px;
    
    .icon{
        margin-right: 18px;
    }
    
}

.pc-header {
    flex-direction: column;
    align-items: baseline;
    // margin: 0;
}

// @media screen and (min-width: 768px) {
//     .bing-bong {
//       max-width: 75%;
//     }
//   }



